/*          CSS HTML et BODY            */

html, body { /* Toute la page, permet d'avoir le menu propre */
    margin: 0;
    padding: 0; 
}
body { /* CSS du body */
    background-color: #e8eaf1; 
    font-family: Verdana, sans-serif;
}


/*          CSS DIVS            */

.Div0 { /* Div sans marge, paddin ou quoi que ce soit, utilisée pour les Flexboxs */
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;

    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.Div1 { /* Div blanche du haut */
    background-color: #dadce4;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;

    padding-top: 0.5%;
    padding-bottom: 00.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;

    border-style: double ;
}
.Div2 { /* Div Bleu (Contenu Principale) */
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 0% 0% 0% 0%;
    background-color: rgb(160, 160, 250);
    border: 6mm ridge rgba(98, 107, 153, 0.445);

    background-image: url("img/Fond-Ciel.jpg");
    background-size: 100%;
    background-repeat:repeat;
}
.Div3 { /* Div 3 (Sous Contenu Principale) */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;

    border-radius: 0% 0% 0% 0%;
    background-color: rgba(81, 185, 40, 0.384);
    border: 2mm ridge rgba(76, 175, 76, 0.445);
}
.Div4 { /* Div 4 (Flexbox 1) Vert */
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;

    border-radius: 0% 0% 0% 0%;
    background-color: rgba(81, 185, 40, 0.384);
    border: 2mm ridge rgba(76, 175, 76, 0.445);
}


/*          CSS FLEXBOX            */

.FlexR { /* FlexBox Row*/
    display: flex;
    flex-flow: row;
}
.FlexRW { /* FlexBox Row Wrap*/
    display: flex;
    flex-flow: row wrap;
}
.FlexC { /* FlexBox Row Wrap*/
    display: flex;
    flex-flow: column;
}

.FlexAC { /* FlexBox Alignement Centre */
    align-items: center;
}
.FlexJC { /* FlexBox Justify Centre */
    justify-content: center;
}

.FlexDC { /* FlexBox Direction Column */
    display: flex;
    flex-direction : column;
}

.FG1 { /* Poid de Partage de la largeur à 1 */
    display: flex;
    flex-grow: 1;
}
.FG3 { /* Poid de Partage de la largeur à 2 */
    display: flex;
    flex-grow: 3;
}


/*          CSS TITRES et TEXTES            */

h1,h2,h3,h4,h5,h6 { /* Formatage du Padding et Marge pour les Titres */
    padding-top: 0%;
    padding-bottom: 0%;

    margin-top: 0%;
    margin-bottom: 0%;
}

h1 { /* Titre 1 */
    font-size: xx-large;
}
h2 { /* Titre 2 */
    font-size: x-large;
}
h3 { /* Titre 3 */
    font-size: large;
}
h4 { /* Titre 4 */
    font-size: medium;
}
h5 { /* Titre 5 */
    font-size: small;
}
h6 { /* Titre 6 */
    font-size: x-small;
}

p { /* Paragraphe */
    color: black;

    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.FS120 { /* Grosse écriture */
    font-size: 120%;
}
.FS80 { /* Petite écriture */
    font-size: 80%;
}

.TITRE { /* CSS Titre Page */
    text-align: center;

    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;

    margin-top: 0.75%;
    margin-bottom: 0.75%;
}
.ST { /* CSS Sous-Titre Page */
    margin-top: 0.75%;
    margin-bottom: 0.25%;
}


/*          CSS TABLEAU            */

table {
    border-color:black;
    border-style:solid;
    border-collapse:collapse;
    border-spacing:0;
    overflow:hidden;
    border-width:1px;
}
td {
    border-color:black;
    border-style:solid;
    border-collapse:collapse;
    border-spacing:0;
    overflow:hidden;
    border-width:1px;
    padding-left: 10px;
}
th {
    text-align: center;
    border-color:black;
    border-style:solid;
    border-collapse:collapse;
    border-spacing:0;
    overflow:hidden;
    border-width:1px;
}

/*          CSS MENU            */

.Menu-Nav ul { /* S'applique sur la liste */
    margin: 0px;
    padding: 0px;
    background: #0D1F2D;
    list-style:none;
} 

.Menu-Nav a { /* S'applique sur les liens dans le menu */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    display: block;
    text-align:center;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 22px;
}

.Menu a:hover { /*CSS des liens lors du survole du curseur */
    text-decoration: underline white;
}

.Menu-Nav .Menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


                                    /* ATTENTION : SOUS-MENU */

.Sous-Menu-1 { 
    position: relative;
}

.Sous-Menu-1:hover > .Sous-Menu-2a { /* Active le sous menu lors du survole*/
    display: flex;
}
.Sous-Menu-1:hover > .Sous-Menu-2b { /* Active le sous menu lors du survole*/
    display: flex;
}
.Sous-Menu-1:active > .Sous-Menu-2a { /* Active le sous menu lors du survole*/
    display: flex;
}
.Sous-Menu-1:active > .Sous-Menu-2b { /* Active le sous menu lors du survole*/
    display: flex;
}

.Sous-Menu-2a { /* Sous Menu Pies */
    display: none ; 
    flex-flow: column wrap;
    min-width: 205px;
    position: absolute;
}
.Sous-Menu-2b { /* Sous Menu CV */
    display: none ; 
    flex-flow: column wrap;
    min-width: 205px;
    position: absolute;
}

.Sous-Menu-2a.is-active { /* Active le sous menu lors du survole*/
    display: flex;
}
.Sous-Menu-2b.is-active { /* Active le sous menu lors du survole */
    display: flex;
}

.Sous-Menu-2a a {
    text-align: left;
}
.Sous-Menu-2b a {
    text-align: left;
}


/*          CSS MEDIA            */

@media (max-width: 480px) { /* Si Ecran trop petit (Donc téléphone, etc) */
    .Menu-Nav a { /* Menu */
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Sous-Menu-2b.is-active { /* Désactive le sous menu */
        display: none;
    }
    .Sous-Menu-2a.is-active { /* Désactive le sous menu */
        display: none;
    }
    .Div1 { /* Div blanche du haut */
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 4%;
        margin-right: 4%;

        padding-top: 0.25%;
        padding-bottom: 0.25%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .Div2 { /* Retrait de l'image background */
        background-image: url("#");
    }
    .Div4 { /* Div 4 (Flexbox 1) Vert */
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 4%;
        margin-right: 4%;

        border-radius: 0% 0% 0% 0%;
        background-color: rgba(81, 185, 40, 0.384);
        border: 2mm ridge rgba(76, 175, 76, 0.445);
    }
    .IMG1 {
        height:180px!important;
        width:280px!important;
    }
    .ST { /* CSS Titre Page */
        padding-top: 2%;
        padding-bottom: 0.75%;
    }
    .FlexR { /* Passage de FlexR en RW et non en R */
        flex-flow: row wrap!important;
    }
    h1 { /* Titre 1 */
        font-size: x-large;
    }
    h2 { /* Titre 2 */
        font-size: large;
    }
    h3 { /* Titre 3 */
        font-size: medium;
    }
    h4 { /* Titre 4 */
        font-size: small;
    }
    h5 { /* Titre 5 */
        font-size: x-small;
    }
    h6 { /* Titre 6 */
        font-size: xx-small;
    }
    .YT { /* Taille de l'intégration YT */
        height:250px;
        widows:300px;;
    }
}


/*          CSS PLACEMENTS            */

.IMG0 { /* Taille de l'image IMG0 */
    height:250px;
    width:250px;
}
.IMG1 { /* Taille de l'image IMG1 */
    height:250px;
    width:400px;
}
.IMG2 { /* Taille de l'image IMG2 */
    height:280px;
    width:280px;
}
.IMG3 { /* Taille de l'image IMG3 */
    height:300px;
    width:300px;
}

.YT { /* Taille de l'intégration YT */
    height:315px;
    width:560px;
}

.P05 { /* Padding de 0.5% sur les cotés et hauteur */
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.M1 h1 { /* Marge Left de 10px */
    margin-left: 10px;
}
.M1 h2 { /* Marge Left de 10px */
    margin-left: 10px;
}
.M1 h3 { /* Marge Left de 10px */
    margin-left: 10px;
}
.M1 h4 { /* Marge Left de 10px */
    margin-left: 10px;
}
.M1 p { /* Marge Left de 10px */
    margin-left: 10px;
}

.M0 h3 { /* Retrait de la Marge Left de 10px */
    margin-left: 10px;
}
.M0 p { /* Retrait de la Marge Left de 10px */
    margin-left: 10px;
}

.TC { /* Texte Centré*/
    text-align: center;
    padding-left: 0px!important;
    padding-right: 0px!important;
}