
/*          CSS HTML et BODY            */

html, body { /* Toute la page */
margin: 0;
padding: 0; 
}
body { /* CSS du body */
background-color: #e8eaf1; 
font-family: Verdana, sans-serif; 
font-size: 100%;
}

/*          CSS MARGES et PADDING            */
.Div1 {
background-color: #dadce4;

margin-top: 0px;
margin-bottom: 0px;
margin-left: 5px;
margin-right: 5px;

padding-top: 0.5%;
padding-bottom: 0.5%;
padding-left: 1%;
padding-right: 1%;

border-style: double ;
}


/*          CSS TITRES et TEXTES            */

h1 { /* Titre 1 */
font-size: 2;
}
h2 { /* Titre 2 */
font-size: 3;
}
h3 { /* Titre 3 */
font-size: 4;
}
h4 { /* Titre 4 */
font-size: 5;
}
h5 { /* Titre 5 */
font-size: 6;
}
h6 { /* Titre 6 */
font-size: 7;
}

p { /* Paragraphe */
color: black; 
}

.Underline {
text-decoration: underline;
}
.FS120 { /* Grosse écriture (Style Titre mais dans le texte même) */
font-size: 120%;
}
.FS80 { /* Petite écriture */
font-size: 80%;
}

/*          CSS FLEXBOX            */ /* (Et autres classe concernant le Menu) */ /* */

.Menu ul { /* S'applique sur la liste, et le menu donc */
margin: 0px;
padding: 0px;
background: #0D1F2D;
list-style:none;
display: flex;
flex-direction : row;
justify-content: center;
/*    @media(max-width: 450px) { /* Pour changer la taille du menu si Mobile ou taille trop petite */
/*    flex-flow: column wrap;} Partie non fonctionelle, à vérifier plus tard */
} 

.Menu a { /* S'applique sur les liens dans le menu */
padding: 1em;
display: block;
text-align:center;
text-decoration: none;
color: #EEEEEE;
font-size: 30px;
}

.Menu a:hover { /*CSS des liens lors du survole du curseur */
text-decoration: underline white;
}
.Menu a:focus { /*CSS des liens lors de l'activation (clics) */
color: white;
text-decoration: underline white;
}


/* ATTENTION : SOUS-MENU */
.Sous-Menu ul { /* S'applique sur la liste, et le menu donc */ /* ATTENTION : SOUS-MENU */
margin: 0px;
padding: 0px;
background: #0D1F2D;
list-style:none;
display: flex;
flex-direction : row;
justify-content: center;
} 

/* ATTENTION : SOUS-MENU */
.Sous-Menu a { /* S'applique sur les liens dans le sous-menu */ /* ATTENTION : SOUS-MENU */
padding: 1em;
display: block;
text-align:center;
text-decoration: none;
color: #EEEEEE;
font-size: 30px;
}

/* ATTENTION : SOUS-MENU */
.Sous-Menu a:hover { /*CSS des liens lors du survole du curseur */ /* ATTENTION : SOUS-MENU */
text-decoration: underline white;
}
/* ATTENTION : SOUS-MENU */
.Sous-Menu a:focus { /*CSS des liens lors de l'activation (clics) */ /* ATTENTION : SOUS-MENU */
color: white;
text-decoration: underline white;
}



/*          CSS SPECIFIQUES            */


/*          CSS COULEURS            */

.Rouge { /*Couleur ROUGE */
color: red;
}
.Bleu { /*Couleur BLEU */
color: blue;
}
.Jaune { /*Couleur JAUNE */
color: yellow;
}
.Noir { /*Couleur NOIR */
color: black;
}
.Blanc { /*Couleur BLANC */
color: white;
}
.Vert { /*Couleur VERT */
color: green;
}
.Cyan { /*Couleur CYAN */
color: cyan;
}

/*          CSS PLACEMENTS            */

hr { /*Sorte de barre horizontal*/
display: block;
height: 5;
margin: 10px 0 10px;
line-height: 10;
}

.TC { /*CSS Texte Centré*/
text-align: center;
}
.TG { /*CSS texte à Gauche*/
text-align: left;
}
.TD { /*CSS texte à Droite*/
text-align: right;
}
